.container {
  background-color: #434343;
  height: 100%;
}

svg:first-child {
  height: 100%;
}

img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  object-fit: cover;
  height: 100%
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 1200px) {
  svg:first-child {
    height: 100%;
  }
}

